/* CSS stylesheet to style HTML elements of the Giphy Animals application. Needed to add custom styling not handled with Bootstrap.
 
   NAME: style.css
   AUTHOR: Elaina Swann
   DATE: 01/09/2018
   REVISION LOG: 
*/

body {
  font-family: 'Montserrat', sans-serif;
}

.btn, #animal-input {
  border-color: #000000;
}

.btn-animal {
  background: #4540ff;
  color: #ffffff;
  margin: 1rem 3rem 1rem 0;
}

.div-animal {
  margin: 1rem;
}

.img-animal {
  height: 20rem;
  width: 25rem;
}

#add-animal {
  background: #ffd400;
  color: #000000;
  font-size: 1.6rem;
}

label {
  font-size: 1.6rem;
}